.CTAButton {
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 16px;
    height: 48px;
    width: 20.438em;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.CTAButton:disabled {
    background-color: #F3F6F6;
    color: #797C7B;
}

.white {
    composes: CTAButton;
    background-color: #FFFFFF;
    color: #000000;
}

.white-border {
    composes: CTAButton;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #C6C6C6;

}

.green {
    composes: CTAButton;
    background-color: #24786D;
    color: #FFFFFF;
}

.red {
    composes: CTAButton;
    background-color: #EA4335;
    color: #FFFFFF;
}