.CTAButton {
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 16px;
    height: 48px;
    width: 20.438em;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.CTAButton:disabled {
    background-color: #F3F6F6;
    color: #797C7B;
}

.CTAButton-white {
    background-color: #FFFFFF;
    color: #000000;
}

.CTAButton-green {
    background-color: #24786D;
    color: #FFFFFF;
}
