.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24786D;
    flex-grow: 1;
    width: 100%;
}

h1 {
    padding-top: 16px;
    color: white;
}

.userInfo {
    padding-top: 24px;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 32px;
}

h3 {
    color: #797C7B;
    font-size: 16px;
    font-weight: bold;
}

.h3Black {
    color: black;
    font-size: 22px;
}

.avatar {
    display: block;
    margin: auto;
    text-align: center;
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.socialsButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.socialsButtons button {
    width: 70px;
    height: 70px;
    margin: 0 2em;
    background: var(--color-gray);
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
}

.editableInfo {
    /* width: 50%; */
    margin-top: 12px;
    margin-bottom: 52px;
    height: 100%;
    background-color: white;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    max-width: 500px;
}

.userDetails {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.divider {
    margin-top: 40px;
    border-top: 1px solid #C6C6C6;
    width: 70%;
}

button {
    margin: 8px;
}

.location,
.showMe,
.ageRange,
.maxDistance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    width: 100%;
    padding: 0 8px;
    margin: 6px 0;
    align-items: center;
}

p {
    color: #24786D;
    font-size: 14px;
}

.ageRange,
.maxDistance {
    flex-direction: column;
    align-items: flex-start;

}

input {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 8px;
}

input:hover {
    opacity: 1;
}

input::-ms-fill-lower {
    background: red !important;
}

.userIGPhotos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.userIGPhotos img {
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 12px;
}

.editableInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    align-items: center;
}
.editableTextField {
    /* width: 100%; */
    display: flex;
    padding: 5px 0 5px 10px;
    background-color: #F2F2F2;
    color: black;
    flex-grow: 1;
    height: 40px;
    margin: 0;
}

.editableInfoButton {
    padding: 10px;
    margin: 0;
    max-height: 40px;
    background-color: var(--color-dark-green);
    color: white;
}
